<!doctype html>
<html lang="Default">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

	<link rel="shortcut icon" type="image/png" href="../static/imgfavicon.png">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/linecons.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/ionicons.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lobster+Two&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script src="../static/js/jquery-2.1.0.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/blocs.min.js"></script>
	<script src="../static/js/jquery.touchSwipe.min.js" defer></script>
	<script src="../static/js/lazysizes.min.js" defer></script>

	<title>Detail</title>
	<script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
	<script src="https://gw.alipayobjects.com/as/g/datavis/g2/2.3.13/index.js"></script>
	<!--    <script>G2.Global.setTheme('dark');</script>-->

	<script>
		function go() {
			document.write("Hello World!");
		}
	</script>

	<script>
		function nFormatter(num) {
			if (num == null) {
				document.write("No Data");
				return "No Data";
			}
			var si = [{
					value: 1,
					symbol: ""
				},
				{
					value: 1E3,
					symbol: " Thousand"
				},
				{
					value: 1E6,
					symbol: " Million"
				},
				{
					value: 1E9,
					symbol: " Billion"
				},
				{
					value: 1E12,
					symbol: " Trillion"
				},
				{
					value: 1E15,
					symbol: " Quadrillion"
				},
				{
					value: 1E18,
					symbol: " Quintillion"
				}
			];
			var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
			var i;
			for (i = si.length - 1; i > 0; i--) {
				if (num >= si[i].value) {
					break;
				}
			}
			document.write((num / si[i].value).toFixed(1).replace(rx, "$1") + si[i].symbol);
			return (num / si[i].value).toFixed(1).replace(rx, "$1") + si[i].symbol;
		}
	</script>
	<!-- Google Analytics -->

	<!-- Google Analytics END -->

</head>

<body>
	<!-- Main container -->
	<div class="page-container">

		<!-- bloc-0 -->
		<div class="bloc bgc-charcoal d-bloc sticky-nav" id="bloc-0">
			<div class="container bloc-sm">
				<nav class="navbar row">
					<div class="navbar-header">
						<a class="navbar-brand  ltc-white" href={{url_for('home')}}><img src="../static/img/Artboard.png" alt="logo" height="50" width="50" /> Junipy</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
					</div>
					<div class="collapse navbar-collapse navbar-1">
						<ul class="site-navigation nav navbar-nav">
							<li>
								<a href={{url_for('home')}}>Home</a>
							</li>
							<li>
								<a href={{url_for('analysis')}}>Analysis</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- bloc-0 END -->

		<!-- bloc-4 -->
		<div class="bloc bgc-charcoal bg-tracks b-parallax bloc-bg-texture texture-fabric d-bloc" id="bloc-4">
			<div class="container bloc-sm">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-12">
												<div class="row voffset row-no-gutters">
													<div class="col-sm-12">
														<img src="../static/img/lazyload-ph.png" data-src={{country[ 'flag']}} class="img-responsive lazyload" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<h2 class="mg-lg">
							{{country['name']}}
						</h2>
						<h3 class="mg-sm">
							Introduction
						</h3>
						<p class="mg-lg">
							{{country['introduction']}}
						</p><a href="index.html" class="btn btn-d btn-lg object-hidden">More Info</a>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-4 END -->
		
		<!-- bloc-5 -->
		<div class="bloc bgc-charcoal d-bloc " id="bloc-5">
			<div class="container bloc-sm">
				<div class="row">
					<div class="col-sm-3">
						<h4 class="mg-md text-center">
							World GDP Rank
						</h4>
						<h3 class="mg-md numbers text-center">
							{{country['worldRank']}}
						</h3>
					</div>
					<div class="col-sm-3">
						<h4 class="mg-md text-center">
							Region
						</h4>
						<h3 class="mg-md numbers text-center">
							<a href={{url_for('region', region=country['region'])}}
							class="a-btn a-block">
							{{country['region']}}
							</a>
						</h3>
					</div>
					<div class="col-sm-3">
						<h4 class="mg-md text-center">
							Region Rank
						</h4>
						<h3 class="mg-md numbers text-center">
							{{country['regionRank']}}
						</h3>
					</div>
					<div class="col-sm-3">
						<h4 class="mg-md text-center">
							Main Composition
						</h4>
						<h3 class="mg-md numbers text-center">
							Industry
						</h3>
					</div>
				</div>
			</div>
			<div class="divider-h">
				<span class="divider"></span>
			</div>
		</div>
		<!-- bloc-5 END -->

		<!-- bloc-5 -->
		<div class="bloc feature-list bgc-charcoal d-bloc " id="bloc-5">
			<div class="container bloc-sm">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center mg-md">
							Data
						</h2>

					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-6">
						<div class="col-sm-3 col-md-3 col-sm-push-9">
							<div class="text-center">
								<span class="li_banknote icon-md icon-round glow-t animated fadeInLeft"></span>
							</div>
						</div>
						<div class="col-sm-9 col-sm-pull-3">
							<h3 class="text-right mg-md blocs-mob-center-text animated fadeInDown">
								GDP
							</h3>
							<h3 class="text-right blocs-mob-center-text numbers animated fadeInUp">
								{% if country['GDP'] is not none %}
								<script>
									nFormatter({{country['GDP']}})
								</script>
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-3">
							<div class="text-center">
								<span class="ion ion-android-person icon-round glow-t icon-md animated fadeInRight"></span>
							</div>
						</div>
						<div class="col-sm-9">
							<h3 class="mg-md animated fadeInDown">
								Population
							</h3>
							<h3 class="blocs-mob-center-text animated fadeInUp numbers">
								{% if country['population'] is not none %}
								<script>
									nFormatter({{country['population']}})
								</script>
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-6">
						<div class="col-sm-3 col-md-3 col-sm-push-9">
							<div class="text-center">
								<span class="ion ion-android-settings icon-md icon-round glow-t animated fadeInLeft"></span>
							</div>
						</div>
						<div class="col-sm-9 col-sm-pull-3">
							<h3 class="text-right mg-md blocs-mob-center-text animated fadeInDown">
								Industry
							</h3>
							<h3 class="text-right blocs-mob-center-text numbers animated fadeInUp">
								{% if country['industryNum'] is not none %}
								<script>
									nFormatter({{country['industryNum']}})
								</script>
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-3">
							<div class="text-center">
								<span class="fa fa-hospital-o icon-round glow-t icon-md animated fadeInRight"></span>
							</div>
						</div>
						<div class="col-sm-9">
							<h3 class="mg-md animated none fadeInDown">
								Service
							</h3>
							<h3 class="blocs-mob-center-text animated fadeInUp numbers">
								{% if country['serviceNum'] is not none %}
								<script>
									nFormatter({{country['serviceNum']}})
								</script>
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-6">
						<div class="col-sm-3 col-md-3 col-sm-push-9">
							<div class="text-center">
								<span class="ion ion-leaf icon-round icon-md glow-t animated fadeInLeft"></span>
							</div>
						</div>
						<div class="col-sm-9 col-sm-pull-3">
							<h3 class="text-right mg-md blocs-mob-center-text animated fadeInDown">
								Agriculture<br>
							</h3>
							<h3 class="text-right blocs-mob-center-text numbers animated fadeInUp">
								{% if country['agricultureNum'] is not none %}
								<script>
									nFormatter({{country['agricultureNum']}})
								</script>
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-3">
							<div class="text-center">
								<span class="fa fa-shower icon-round icon-md glow-t none animated fadeInRight"></span>
							</div>
						</div>
						<div class="col-sm-9">
							<h3 class="mg-md blocs-mob-center-text animated fadeInDown">
								Water consumption
							</h3>
							<h3 class="blocs-mob-center-text animated fadeInUp numbers">
								{% if country['freshwaterWithdrawals'] is not none %}
								<script>
									nFormatter({{country['freshwaterWithdrawals']}})
								</script>
								Billion m³
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-6">
						<div class="col-sm-3 col-md-3 col-sm-push-9">
							<div class="text-center">
								<span class="fa fa-soundcloud icon-round icon-md glow-t animated fadeInLeft"></span>
							</div>
						</div>
						<div class="col-sm-9 col-sm-pull-3">
							<h3 class="text-right mg-md animated fadeInDown">
								PM2.5
							</h3>
							<h3 class="text-right blocs-mob-center-text numbers animated fadeInUp">
								{% if country['PM25Index'] is not none %}
								<script>
									nFormatter({{country['PM25Index']}})
								</script>
								mg/m³
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-3">
							<div class="text-center">
								<span class="fa fa-tachometer icon-round icon-md glow-t animated fadeInRight"></span>
							</div>
						</div>
						<div class="col-sm-9">
							<h3 class="mg-md animated fadeInDown">
								CO₂ emission
							</h3>
							<h3 class="blocs-mob-center-text numbers animated fadeInUp">
								{% if country['CO2'] is not none %}
								<script>
									nFormatter({{country['CO2']}})
								</script>
								Kilo-ton
								{% else %} No Data {%endif %}
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-5 END -->

		<!-- bloc-6 -->
		<div class="bloc bgc-charcoal d-bloc" id="bloc-6">
			<div class="container bloc-none">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="mg-sm text-center">
							Compose
						</h2>
						<div class="divider-h">
							<span class="divider"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-6 END -->

		<!-- bloc-8 -->
		<div class="bloc bgc-charcoal d-bloc" id="bloc-7">
			<div class="container bloc-sm">
				<div class="row">
					<div class="col-lg-12">

						<div id="c1"></div>
						<script>
							var data = [{
									year: 2016,
									area: 'Industry',
									profit: 76.20 * {{country['industry']}}
								},
								{
									year: 2016,
									area: 'Agriculture',
									profit: 76.20 * {{country['agriculture']}}
								},
								{
									year: 2016,
									area: 'others',
									profit: 76.20 - {{country['industry']}} - {{country['service']}} - {{country['agriculture']}}
								},
								{
									year: 2016,
									area: 'Service',
									profit: 76.20 * {{country['service']}}
								}
							];
							var Stat = G2.Stat;
							var chart = new G2.Chart({
								id: 'c1',
								forceFit: true,
								height: 500,
								plotCfg: {
									margin: 0,
								}
							});
							chart.source(data);

							chart.facet(['year'], {
								margin: 50,
								facetTitle: {
									colDimTitle: {
										title: null
									},
									colTitle: {
										title: {
											fontSize: 18,
											textAlign: 'center',
											fill: '#999'
										}
									}
								}
							});
							chart.legend({
								position: 'left',
								word: {
									fill: '#ffffff'
								}
							});
							chart.coord('theta', {
								radius: 1,
								inner: 0.35
							});
							chart.tooltip({
								title: null
							});
							chart.intervalStack().position(Stat.summary.percent('profit'))
								.color('area')
								.label('..percent', {
									offset: -2
								})
								.style({
									lineWidth: 1
								});
							chart.render();
						</script>

					</div>
				</div>
			</div>
		</div>
		<!-- bloc-8 END -->

		<!-- bloc-6 -->
		<div class="bloc bgc-charcoal d-bloc" id="bloc-6">
			<div class="container bloc-none">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="mg-sm text-center">
							Trend
						</h2>
						<div class="divider-h">
							<span class="divider"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-6 END -->

		<!-- bloc-7 -->
		<div class="bloc bgc-charcoal d-bloc" id="bloc-8">
			<div class="container bloc-sm">
				<div class="row">
					<div class="col-sm-8">

						<div id="c2"></div>
						<script>
							var data = 
								{{country['GDPHistory']['data'] | tojson | safe}};
							var chart = new G2.Chart({
								id: 'c2',
								forceFit: true,
								height: 450
							});
							chart.source(data, {
								year: {
									range: [0, 1],
									alias: 'Year'
								},
								value: {
									range: [0, 1],
									alias: 'GDP ( '+ '{{country['GDPHistory']['unit']}}' +' )'
								}
							});
							chart.axis('year', {
								labels: {
									label: {
										fill: '#FFCF2C'
									}
								}
							});

							chart.axis('value', {
								labels: {
									label: {
										fill: '#FFCF2C'
									}
								}
							});
							
							chart.area().position('year*value').color('l(90) 0:#FFCF2C 0.8:#2c3251 1:#2c3251').shape('smooth');
							chart.line().position('year*value').size(2).color('#FFCF2C').shape('smooth');
							chart.render();
						</script>


					</div>
					<div class="col-sm-4">

						<ul class="list-unstyled">
							<li>
								GDP
							</li>
						</ul>
						<ul class="list-unstyled">
							<li>
								Industry
							</li>
						</ul>
						<ul class="list-unstyled">
							<li>
								Service
							</li>
						</ul>
						<ul class="list-unstyled">
							<li>
								Water
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- bloc-7 END -->

	<!-- ScrollToTop Button -->
	<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
	<!-- ScrollToTop Button END-->


	<!-- Footer - bloc-9 -->
	<div class="bloc bgc-charcoal d-bloc" id="bloc-9">
		<div class="container bloc-sm">
			<div class="row">
				<div class="col-sm-4">
					<div class="text-center">
						<a class="social" href="index.html"><span class="fa fa-twitter icon-md"></span></a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="text-center">
						<a class="social" href="index.html"><span class="fa fa-facebook icon-md"></span></a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="text-center">
						<a class="social" href="index.html"><span class="fa fa-instagram icon-md"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer - bloc-9 END -->

	<!-- Footer - bloc-10 -->
	<div class="bloc bgc-charcoal d-bloc" id="bloc-10">
		<div class="container bloc-md">
			<div class="row">
				<div class="col-sm-3">
					<h3 class="mg-md bloc-mob-center-text">
						About
					</h3><a href="index.html" class="a-btn a-block bloc-mob-center-text">The team</a><a href="index.html" class="a-btn a-block bloc-mob-center-text">Contact us</a>
				</div>
				<div class="col-sm-3">
					<h3 class="mg-md bloc-mob-center-text">
						Get the App
					</h3><a href="index.html" class="a-btn a-block bloc-mob-center-text">iPhone</a><a href="index.html" class="a-btn a-block bloc-mob-center-text">Android</a>
				</div>
				<div class="col-sm-3">
					<h3 class="mg-md bloc-mob-center-text">
						Follow Us
					</h3><a href="index.html" class="a-btn a-block bloc-mob-center-text">Twitter</a><a href="index.html" class="a-btn a-block bloc-mob-center-text">Facebook</a>
				</div>
				<div class="col-sm-3">
					<h3 class="mg-md bloc-mob-center-text">
						Company
					</h3><a href="index.html" class="a-btn a-block bloc-mob-center-text">Terms of use</a><a href="index.html" class="a-btn a-block bloc-mob-center-text">Privacy</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer - bloc-10 END -->

	<!-- Footer - bloc-11 -->
	<div class="bloc bgc-charcoal d-bloc" id="bloc-11">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h6 class="mg-md text-center">
						Copyright © <font color="orange">lmcmz</font>
					</h6>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer - bloc-11 END -->

	</div>
	<!-- Main container END -->



	<!-- Preloader -->
	<div id="page-loading-blocs-notifaction"></div>
	<!-- Preloader END -->

</body>

</html>